body{
	font-family: sans-serif;
}
.sectie{
	border: 1px solid blue;
	padding: 2em;
	/* background-attachment: fixed; */
	background-size: cover;
	background-repeat: no-repeat;

}
/* Alleen de secties met paralax achtergrond */
.sectie--achtergrond{
padding: 30vh 3em; /* Word je groot van. */
color: rgba(255,255,255, .7);
font-size: 2em;
text-shadow: 0 0 14px grey;
overflow-x: hidden;

}
.sectie--2{
	color: #fff;
background-image: url(https://images.pexels.com/photos/2303378/pexels-photo-2303378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.sectie--4{
background-image: url(https://images.pexels.com/photos/1437493/pexels-photo-1437493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.sectie--4 span:nth-child(2){
	color: red;
	background: cover;
}
.sectie--4 span {
transition: margin-left 1s ease-out;
}
.sectie--4__kop span:nth-child(1){
margin-left: -300px;
}
.sectie--4__kop span:nth-child(2){
margin-left: +1900px;
}
.sectie--4__kop span:nth-child(3){
margin-left: +2200px;
}
.sectie--6{
background-image: url(https://images.pexels.com/photos/1647120/pexels-photo-1647120.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
#indicator{
	height: 16px;
	background-color: royalblue;
	position: fixed;
	bottom: 0;
	width: 50%;
}

